= wrap_layout :application do
  %article
    %h1= current_article.title

    %p.date
      = current_article.date.strftime("%B %e, %Y")

    ~ yield

    %p.share= twitter_share_link(current_article.title)

  = partial "nav"
