%li
  %h3= talk.title
  - talk.occurrences.each do |occurrence|
    .info
      %h4= talk_event(occurrence)
      %h4= talk_venue(occurrence)
      %h4= talk_slides(occurrence)
      - if occurrence.video?
        %h4= talk_video(occurrence)

    %p.date= long_date(occurrence.date)
